{% extends "reports/report.tmpl" %}

{% block title %}
  Distribution of lobbyist accros countries
{% endblock %}

{% block script %}
  <script>
    $(function() {
      window.table = LobbyFacts.makeTable($('#table'), 'rep_by_country',
          [
              {
                  field: 'name',
                  title: 'Country',
                  width: '70%'
              },
              { field: 'count', title: 'Number of registered', width: '20%'},

          ],
        );
    });
  </script>
{% endblock %}

