{% extends "layout.tmpl" %}

{% block content %}
<h1>Welcome to the LobbyFacts Data API</h1>

<h2>Introduction</h2>
<p>The database behind <a href="http://www.lobbyfacts.eu">the LobbyFacts website</a> can be accessed via the LobbyFacts API, which is described on these pages.</p>

<div class="row">
  <div class="span6">
    <h2>Data Access</h2>
    <ul>
      <li><a href="/docs/api">API Documentation</a></li>
      <li><a href="/api/1/reports">Reports index</a> (JSON)</li>
    </ul>
  </div>
  <div class="span6">
    <h2>Source code</h2>
    <ul>
      <li>GitHub: <a href="https://github.com/stef/lobbyfacts">stef/lobbyfacts</a></li>
      <li><a href="https://github.com/stef/lobbyfacts/issues">Report bugs</a></li>
    </ul>
  </div>
</div>

{% endblock %}

